@import '../../globalStyles/variables.scss';

.header {
    background: $hello;
    box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
    font-family: 'Ubuntu-Light';
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}