@import "../../globalStyles/variables.scss";

.header {
	background: $headerBackground;
	box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
	font-family: "Ubuntu-Light";
	min-height: 96px;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
	}

	.nav {
		position: absolute;
		width: 80vw;
		top: 0;
		left: 0;
		height: 100vh;
		padding-top: 20px;
		background: $navBackground;
		transform: translate(-100%, 0);
		transition: all 0.7s ease-in-out;

		h2 {
			color: $primaryText;
			margin-left: 40px;
			margin-bottom: 20px;
		}

		&__list {
			list-style-type: none;
		}

		&__item {
			align-items: center;
			display: flex;
			margin-bottom: 5px;

			a {
			color: $primaryText;
			text-decoration: none;
			cursor: pointer;
			font-size: 14px;
			margin-left: 10px;

				&:focus {
					border: 1px solid $primaryText;
				}
			}
		}

		&--opened {
			display: block;
			transform: translate(0%, 0);
			transition: all 0.3s ease-in-out;
			z-index: 110;
			opacity: 1;
			visibility: visible;
		}

		&--closed {
			z-index: -100;
			opacity: 0;
			transform: translate(-100%, 0);
			transition: all 0.7s ease-in-out;
			visibility: hidden;
		}
	}

	&__cart {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	// &__cart-link {
	// 	margin: 0;
	// 	padding: 0;
	// 	text-decoration: none;
	// }
}

.burger-wrapper {
	display: grid;
    width: 50px;
    height: 40px;
	justify-items: center;
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;

	&--opened {
		position: absolute;
		top: 20px;
		right: 30px;

		.burger__text {
			display: none;
		}
	}
}

.js-burger {
	&--opened {
		height: 30px;
		position: absolute;
		right: 0;

		span {
			background-color: $primaryText;
			position: absolute;
			width: 25px;

			&:nth-child(1) {
				height: 4px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:nth-child(2) {
				height: 4px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&:nth-child(3) {
				opacity: 0;
			}
		}
	}
}

.burger {
	position: relative;
	z-index: 150;
	display: grid;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	top: 4px;
    left: 2px;
	padding-right: 4px;

	&__text {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
		color: $primaryText;
	}

	span {
		width: 25px;
		height: 3px;
		border-radius: 3px;
		background-color: $contactLinkColor;
		transition: 0.3s ease-in-out;


		&:nth-child(1) {
			margin-bottom: 4px;
		}

		&:nth-child(3) {
			margin-top: 4px;
		}
	}
}

.menu {
	&__wrapper {
		width: 100px;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-between;
		min-height: calc(100% - 100px);
		padding-left: 10px;
	}
}

.logo {
	color: $primaryText;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	white-space: nowrap;
}

.input-block {
	display: flex;
	background: $inputSearchColor;
	border-radius: 10px;
	width: 50%;
	height: 50px;
	padding: 18px;

	&__form {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
}

.input-search {
	width: 100%;
	background: $inputSearchColor;
	border: 0;
	outline: none;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 21px;
	color: $secondaryText;
	padding-left: 2%;

	&::placeholder {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 21px;
		color: $secondaryText;
	}
}

.search-image {
	border: 0;
	background: $inputSearchColor;

	cursor: pointer;
}

.contacts {
	display: flex;
	align-items: center;
	white-space: nowrap;

	&__info {
		display: block;
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: $secondaryText;
	}

	&__link {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: $buttonColor;
		position: relative;

		margin-right: 10px;
	}

	&__link.link {
		background: transparent;
		font-weight: 800;
		text-decoration: none;
		color: $primaryText;
	}
}

@media screen and (min-width: 320px) {
	//mobile
	.header {
		&__container {
			display: grid;
			grid-template-columns: repeat(1fr, 7);
			grid-template-rows: 1fr 1fr;
			align-items: center;
		}

		&__logo {
			order: 1;
			grid-column: 2/6;
			margin: 0 auto;
		}

		.input-block {
			order: 3;
			min-width: 100%;
			margin: 0 auto;
			grid-column: 1/7;
			margin-top: 10px;
		}

		.contacts {
			order: 3;
			margin: 0 10px;
			display: none;
		}

		&__cart {
			display: grid;
			max-width: min-content;
			padding: 8px 8px 10px 8px;
			order: 1;
			grid-column: 6/7;
			justify-self: end;
			min-width: 62px;
			min-height: 56px;

			.buyIcon {
				padding: 2px;
			}
		}
	}
}

@media screen and (min-width: 480px) {
	//mobile
	.header {

		.burger-wrapper {

			&--opened {
				right: 60px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	//tablet
	.header {
		&__container {
			display: flex;
		}

		&__logo  {
			order: 1;
		}

		&__cart {
			order: 4;
			min-width: 150px;
			max-width: 300px;
			padding-right: 13px;
			display: flex;

			.buyIcon {
				padding: 2px;
			}
		}

		.input-block {
			order: 2;
			max-width: 550px;
			min-width: 100px;
			margin: 0 10px;
		}

		.contacts {
			order: 3;
			margin: 0 10px;
			display: flex;
		}
	}

	.burger-wrapper {
		display: none;
	}
}

@media screen and (min-width: $desktop) {
	//desktop
	.header {
		&__logo {
			margin: 0 auto 0 0;
			padding-right: 10px;
		}
		.input-block {
			order: 2;
			margin: 0 10px 0 0;
			flex-basis: 100%;
		}
		button {
			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}

		.input-search {
			font-size: 18px;
			color: #cfcfcf;
			padding-left: 2%;

			&::placeholder {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: $secondaryText;
			}
		}

		&__cart {
			margin: 0 0 0 auto;
		}
	}
}

.overlay {
	&--opened {
		position: absolute;
		display: block;
		background-color: $inputSearchColor;
		opacity: 0.8;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: 100;
		cursor: pointer;
	}

	&--closed {
		display: none;
	}
}