@import "../../../globalStyles/variables.scss";

.offer-card {
	width: 274px;
	height: 100%;

	border-right: 1px solid $primaryText;

	&__wrapper {
		padding: 20px 35px 0;
		text-align: center;
	}

	&__image-block {
		overflow: hidden;
		margin-bottom: 10px;
	}

	&__image {
		border-radius: 10px;
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;

		margin-bottom: 10px;
	}

	&__add-block {
		margin: 10px 0 10px 0;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		color: $offerCardSubtitleColor;

		margin-right: 10px;
	}

	&__btn {
		width: 27px;
		height: 27px;
		background: $buttonColor;
		border: 0;
		border-radius: 10px;
		font-size: 20px;
		color: $primaryText;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background: #6f9a75;
		}
	}
}
