// breakpoints

$phone-sm: 320px;
$phone-md: 375px;
$phone: 480px;
$phone-lg: 576px;
$tablet: 768px;
$tablet-lg: 992px;
$desktop: 1024px;
$widescreen: 1200px;
$widescreen-md: 1360px;
$widescreen-lg: 1440px;
$widescreen-full: 1600px;
$full-hd: 1920px;

//colors

$primaryText: #fff;
$secondaryText: #cfcfcf;
$descriptionText: #A6A7AB;
$dateText: #6FA076;
$buttonColor: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
$cardBackground: linear-gradient(90deg, #494544 0%, #504B4A 100%);


//header
$contactLinkColor: #65906c;
$headerBackground: #403c3b;
$navBackground: linear-gradient(#211f20, #44403f);
$sectionGradient: linear-gradient(#211f20 100%, #44403f 0%);
$sectionBackground: linear-gradient();
$inputSearchColor: #504b4a;

//intro
$introAboutBackground: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 100%); //intro and about background
$introButtonColor: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);

//navbar
$menuNavBarBackground: linear-gradient(360deg, #211F20 0%, #44403F 100%); //menu and navbar has the same background
$scrollNavBar: #618967;

//about
$tileBackground: rgba(80, 75, 74, 0.9);
$tileTextColor: #79B282;

//contacts-block
$contactsBlockBackground: #2E2B2C;

//notWork-block
$notWorkBlockBackground: #2B2829;

//footer
$footerBackground: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);



//cartPage colors
$cartPageBackground: linear-gradient(360deg, #211F20 0%, #44403F 100%);

$orderBackground: linear-gradient(90deg, #494544 0%, #504B4A 100%);
$buttonBackground: #72A479;
$orderSubtitleColor: #a6a7ab;