@import "../../../../globalStyles/variables";
@import "../../../../globalStyles/mixins.scss";

.Time {
	background: $cardBackground;
	padding: 30px 25px;
	border-radius: 10px;
	margin-bottom: 20px;

	&__subtitle {
		font-weight: 600;
		margin-bottom: 30px;
	}

	.count-wrap {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&__num {
			font-size: 30px;
			font-weight: 600;
			font-family: "Ubuntu-Light", "Arial", sans-serif;
		}

		&__button {
			position: relative;
			cursor: pointer;
			width: 40px;
			height: 50px;

			&:first-of-type:before {
				@include pseudo;
				width: 20px;
				height: 4px;
				left: 10px;
				top: 25px;
				background-color: $primaryText;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.radio-wrapper {
		font-size: 13px;
	}

	.radio {
		display: flex;
		align-items: center;
		height: 35px;

		label {
			padding-left: 10px;
			position: relative;
			cursor: pointer;

			&::before {
				@include pseudo;
				width: 20px;
				height: 20px;
				border: 1px solid $tileTextColor;
				border-radius: 50%;
				left: -16px;
				top: -3px;
			}

			&:hover {
				opacity: 0.6;
			}
		}

		&__input {
			overflow: hidden;
			opacity: 0;
			position: relative;
			cursor: pointer;

			&:checked + label {
				&::after {
					@include pseudo;
					width: 14px;
					height: 14px;
					border: 1px solid transparent;
					background-color: $tileTextColor;
					border-radius: 50%;
					left: -13px;
					top: 0px;
					opacity: 1;
				}

				&:hover {
					opacity: 1;
				}
			}
			&:not(:checked) + label {
				&::after {
					display: none;
				}
			}
			&:disabled + label {
				&::after,
				&::before {
					opacity: 0.1;
				}
			}
		}
	}

	.count-person {
		border: 1px solid rgba(255, 255, 255, 0.1);
		display: flex;
		border-radius: 10px;
		color: $primaryText;
		height: 60px;
		margin-bottom: 20px;
		position: relative;
		align-items: center;
		padding: 0 10px;
   		justify-content: space-between;

		&:last-of-type {
			margin-bottom: 30px;
		}

		.input {
			border: none;
			padding: 0;
			min-width: 60%;
			padding: 5px 10px;
		}

		button {
			background: transparent;
			border: none;
			color: $primaryText;
			font-size: 45px;
			margin: 5px;
			line-height: 0;
		}
	}

	.inputTime {
		border: 1px solid rgba(255, 255, 255, 0.1);
		padding: 0 10px;
		border-radius: 10px;
		position: relative;
		min-width: 220px;
		display: flex;
		justify-content: flex-end;

		span {
			position: absolute;
			min-width: min-content;
			white-space: nowrap;
			top: 20px;
			left: 10px;
			cursor: default;
		}

		input {
			border: none;
		}
	}

	.input-enterTime.input {
		border: 1px solid transparent;
		border-radius: 0px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		display: flex;
		border-radius: 10px;
		color: $primaryText;
		height: 60px;
		margin-bottom: 20px;
	}

	.toggle-checkTime {
		&__span {
			font-size: 12px;
			padding: 20px 10px;
			white-space: nowrap;
			min-height: 60px;

			&:first-of-type {
				border: 1px solid $tileTextColor;
			}
		}
	}

	.delivery-time {
		margin-bottom: 20px;
	}
}

.policy-check {
	display: flex;
	align-items: center;
	position: relative;
	font-size: 13px;

	label {
		padding-left: 30px;
		margin-left: 0;
		font-size: 13px;
		min-width: 100%;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}
	}

	&__input {
		overflow: hidden;
		opacity: 0;
		position: relative;
		height: 10px;
		min-height: 10px;

		&:checked + label {
			&::after {
				@include pseudo;
				width: 22px;
				height: 22px;
				border: 1px solid $primaryText;
				background: url("../../../../images/checkbox.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				background-color: $primaryText;
				border-radius: 3px;
				left: 0;
				top: 0;
			}
		}
		&:not(:checked) + label {
			&::after {
				@include pseudo;
				width: 22px;
				height: 22px;
				left: 0;
				top: 0;
				border: 1px solid $primaryText;
				border-radius: 3px;
				background: $primaryText;
				background-color: $primaryText;
				cursor: pointer;

				&:hover {
					opacity: 0.8;
				}
			}
		}
		&:disabled + label {
			&::after,
			&::before {
				opacity: 0.1;
			}
		}
	}
}
