@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.main-content {
	position: sticky;
	top: 179px;


	display: grid;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px 0;

	&__container {
		@include container;
	}

	&__content {
		height: 500px;
		width: 100%;
	}
}