@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.main-content {
	background: $menuNavBarBackground;

	&__container {
		@include container;
		display: grid;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 20px 0;
	}

	&__content {
		height: 500px;
		max-width: 1440px;
		overflow: hidden;
	}

	&__slider {
		height: 100%;
	}
}

.menu-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	/* identical to box height */

	text-transform: uppercase;

	color: $primaryText;
}
