@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.promotions {
    background: $navBackground;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        padding-top: 225px;
        padding-bottom: 80px;
        background: $navBackground;
    }

    &__title-wrapper {
        &::before {
            @include pseudo;
            margin-left: 10px;
            width: 4px;
            height: 33px;
            background: $scrollNavBar;
        }
    }

    &__title {
        padding-left: 33px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: $primaryText;
    }

    &__promotion-cards {
        margin-top: 40px;
        justify-content: center;
        padding-top: 30px;
        border-top: 0.1px solid $primaryText;
        display: grid;
        gap: 25px;
        grid-template-rows: repeat(9, auto);
        grid-template-columns: repeat(1, 300px);

        &>* {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: $tablet) {
    .promotions {
        &__container {
            padding-top: 130px;
        }

        &__promotion-cards {
            grid-template-rows: repeat(5, auto);
            grid-template-columns: repeat(2, 340px);
        }
    }
}

@media screen and (min-width: $desktop) {
    .promotions {
        display: flex;
        flex-direction: column;

        &__container {
            margin: 0 auto;
            max-width: $full-hd;
            padding-top: 130px;
        }

        &__promotion-cards {
            grid-template-rows: repeat(3, auto);
            grid-template-columns: repeat(3, auto);
        }
    }
}