@import "../../globalStyles/variables.scss";

.promotion-card {
	border-radius: 10px;
	width: auto;
	height: auto;

	background: $cardBackground;
	color: $primaryText;

	transition: 0.3s;
	cursor: pointer;
	margin-top: 20px;

	// display: flex;
	// flex-wrap: wrap;

	&:hover {
		box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);
	}

	&__image-wrapper {
		overflow: hidden;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		height: 115px;
		width: auto;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&__image {
		height: 100%;
		width: 100%;
	}

	&__main-text {
		padding: 18px 14px 18px 14px;
		min-width: 100%;
	}

	&__card-title {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 5px;
	}

	&__card-description {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;

		color: $descriptionText;

		margin-bottom: 10px;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;	
	}

	&__dateTime-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		min-width: 100%;
	}

	&__card-dateTime {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;

		color: $dateText;
	}
}

@media screen and (min-width: $desktop) {
	.promotion-card {
		&__image-wrapper {
			height: 180px;
		}
	}
}