@import "../../globalStyles/variables.scss";

@media screen and (min-width: $phone-sm) {
	.cart-page {
		min-width: 100%;
		background: $cartPageBackground;
		padding: 200px 20px 50px;

		&__wrapper {
			margin: 0 auto;
			text-align: center;
		}
	}

	.go-back {
		text-decoration: none;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;

		color: $primaryText;
	}

	.orders {
		background: $orderBackground;
		border-radius: 10px;

		margin-bottom: 36px;
		overflow: hidden;
	}

	.orders-amount {
		margin: 0 auto;
		text-align: left;

		&__path {
			font-weight: 700;
			font-size: 20px;
			line-height: 30px;
			text-transform: uppercase;
			color: $primaryText;
		}

		&__wrapper {
			display: flex;
			justify-content: left;
			align-items: center;
			width: 250px;

			overflow: hidden;
		}
	}

	.dish-offers {
		margin-bottom: 20px;

		&__title {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;

			color: $primaryText;
			text-align: left;

			display: flex;
			justify-content: space-between;
			width: 230px;
		}

		&__wrapper {
			background: $offerCardBackground;
			border-radius: 10px;

			overflow: hidden;
			margin-top: 35px;
		}

		&__divider {
			display: none;
		}
	}

	.title-line {
		width: 4px;
		height: 30px;
		background: $scrollNavBar;
	}

	.orders-amount {
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 23px 0 32px;
		}
	}

	.place-order {
		background: $orderBackground;
		border-radius: 10px;
		color: $primaryText;

		&__wrapper {
			padding: 20px 20px 20px;
		}

		&__price-total {
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
		}

		&__price {
			font-weight: bold;
			font-size: 22px;
		}

		&__subtitle {
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			text-align: center;
		}

		&__subtitle-sm {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
		}

		&__place-btn {
			width: 209px;
			height: 51px;

			border-radius: 10px;
			border: 0;

			color: $primaryText;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: $buttonBackground;
			transition: 0.3s;

			&:hover {
				opacity: 0.8;
				transition: 0.3s;
			}
		}
	}
}

@media screen and (min-width: $phone) {
	.cart-page {
		padding: 100px 80px;
	}
}

@media screen and (min-width: $desktop) {
	.cart-page {
		padding: 100px 200px;
	}

	.place-order {
		&__wrapper {
			display: flex;
			justify-content: space-around;
		}

		&__main-text {
			text-align: left;
		}
	}

	.dish-offers {
		&__wrapper {
			display: flex;
			justify-content:flex-start;
			flex-wrap: wrap;
			flex-wrap: nowrap;
			overflow-x: scroll;
		}
	}
}

@media screen and (min-width: $desktop) {
	.cart-page {
		padding: 100px 80px;
		width: 100%;
	}
}
