@import "../../../../globalStyles/variables";
@import "../../../../globalStyles/mixins.scss";

.Delivery {
	background: $cardBackground;
	padding: 30px 25px;
	border-radius: 10px;
	margin-bottom: 20px;
	min-width: 100%;

	&__subtitle {
		font-weight: 600;
		margin-bottom: 30px;
	}

	.time-clock {
		display: none;

		&.none {
			display: none;
		}
	}

	.toggle-delivery {
		span:not(.base-text) {
			height: 60px;
		}

		&__span-delivery {
			padding: 20px 30px;
			border: 1px solid $tileTextColor;
			cursor: pointer;
			display: flex;
			justify-content: center;
			font-size: 12px;
			border-right: 0;
			border-radius: 10px 0 0px 10px;
		}

		&__span-delivery.active {
			background: $buttonColor;
			font-weight: 600;
		}
	}
}

.delivery-tabs {
	display: flex;
	min-width: 100%;
	align-items: center;
	margin-bottom: 20px;

	div {
		flex-grow: 1;
		min-width: 50%;
	}
}
