@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.navbar {
	background: $menuNavBarBackground;
	padding-bottom: 10px;
	position: sticky;
	top: 96px;
	z-index: 2;

	&:before {
		@include pseudo;
		width: 100%;
		height: 1px;
		background-color: $secondaryText;
		opacity: 0.1;
		bottom: 11px;
		z-index: 0;
	}

	&__container {
		@include container;
	}

	&__list {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0;
		overflow-x: scroll;
		padding-top: 16px;
		position: relative;
		z-index: 2;
	}

	&__item {
		align-items: center;
		display: flex;
		padding-top: 7px;
		padding: 7px 25px 0 25px;
		scroll-snap-align: start;

		&:first-of-type {
			padding-left: 0;
		}

		a {
			color: $primaryText;
			text-decoration: none;
			cursor: pointer;
			font-size: 14px;
			white-space: nowrap;

			&:focus {
				border: 1px solid white;
			}
		}
	}

	&__item.active a {
		border-bottom: 3px solid $scrollNavBar;
		padding-bottom: 21px;
		position: relative;
	}
}

@media screen and (min-width: 768px) {
	.navbar {
		background: $menuNavBarBackground;
		&__item {
			a {
				font-size: 18px;
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	.navbar {
		background: $menuNavBarBackground;

		&:before {
			bottom: 16px;
		}

		&__item {
			padding: 7px 25px 5px 25px;

			a {
				font-size: 18px;
			}
		}
	}
}

