@import "../../globalStyles/variables/scss";

.navbar {
	padding-top: 20px;
	background: $blackGradient;
	border-bottom: 1px solid darkGrey;

	&__container {
		max-width: 1440px;
		padding: 0 20px;
		margin: 0 auto;
	}

	&__list {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0;
		overflow-x: scroll;
	}

	&__item {
		align-items: center;
		display: flex;
		margin-bottom: 5px;

		a {
		color: $white;
		text-decoration: none;
		cursor: pointer;
		font-size: 14px;

			&:focus {
				border: 1px solid white;
			}
		}
	}

	&__item.active {
		border-bottom: 1px solid $lightGreen;
		padding-bottom: 26px;

	}
}

@media screen and (min-width: 768px) {
	.navbar {
	padding-top: 20px;
	background: $blackBackgroundGradient;

	&__list {

	}

	&__item {

		a {
		font-size: 18px;
		}
	}
}
}
@media screen and (min-width: 1024px) {
	.navbar {
	padding: 20px 0;
	background: $blackBackgroundGradient;

		&__list {

		}

		&__item {

			a {
			font-size: 18px;
			}
		}
	}
}