@import "../../../globalStyles/variables.scss";

.cart-page {
	margin: 0 auto;
	padding: 100px 0 90px 0;

	&___wrapper {
		display: block;
	}
}

.nav-path {
	margin: 0 auto;
	margin-bottom: 70px;
	margin-top: 34px;
	margin-left: 100px;

	&__path {
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 350px;
	}
}

.go-back {
	display: block;

	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;

	margin-bottom: 20px;
}

.line {
	width: 4px;
	height: 33px;
	background: $scrollNavBar;
}

.orders {
	height: auto;
	width: 100%;
	border: 0;
	border-radius: 10px;

	overflow: hidden;
	// overflow-y: scroll;

	margin-bottom: 40px;
}

.orders-counter {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-transform: lowercase;
	color: #72a479;
}

.dish-offers {
	&__wrapper {
		height: 234px;
		width: 1096px;
		border: 1px solid black;

		display: flex;
	}
}
