@import "../../../../globalStyles/variables";

@media screen and (min-width: 320px) {
	.order-block {
		padding: 20px;
		min-width: 100%;

		border-bottom: 1px solid grey;

		&__image {
			width: 111px;
			height: 82px;
			border-radius: 10px;
			margin-right: 10px;
		}

		&__about-wrapper {
			display: flex;
			text-align: left;
			align-items: center;
		}

		&__container-mobile {
			display: block;
		}

		&__container-adaptive {
			display: flex;
			align-items: center;
		}

		&__counter-block,
		&__price {
			margin-right: 5px;
		}

		&__counter-block {
			width: 70px;

			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__counter,
		&__price {
			font-weight: 700;
			font-size: 12px;
			line-height: 15px;

			color: $primaryText;
		}

		&__btn {
			width: 24px;
			height: 24px;

			border-radius: 50%;
			border: 0;

			background: $buttonBackground;
			color: $primaryText;
			font-weight: bold;
		}
	}

	.orders-counter {
		color: $buttonBackground;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		text-transform: lowercase;
	}

	.main-text {
		margin-bottom: 10px;

		&__subtitle {
			display: none;
		}

		&__title {
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;

			color: $primaryText;

			min-width: 100%;
		}
	}
}

@media screen and (min-width: $tablet) {
	.order-block {
		&__about-wrapper {
			width: 500px;

			display: flex;
			justify-content: left;
		}
		&__counter-block {
			width: 150px;
		}

		&__counter {
			font-size: 23px;
		}

		&__container-adaptive {
			font-size: 23px;
		}

		&__btn {
			width: 36px;
			height: 36px;
			font-size: 20px;
		}

		&__price {
			font-size: 23px;
		}
	}

	.main-text {
		&__title {
			font-size: 20px;
		}
	}
}

@media screen and (min-width: $desktop) {
	.order-block {
		&__container-mobile {
			display: flex;
		}

		&__about-wrapper {
			width: 100%;
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;

			color: grey;
		}

		&__wrapper {
			display: flex;
			justify-content: space-around;
		}
	}

	__container-adaptive {
		width: 500px;
	}

	.main-text {
		width: 265px;
		&__subtitle {
			display: block;
		}
	}
}

