* {
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Ubuntu-Light", "Arial", sans-serif;
}

a {
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}